.navbar {
  box-shadow: 0 1.125rem 2.25rem -1.188rem rgba(0, 0, 0, 0.4);
  position: relative;
  width: 100%;
  z-index: 2;
  font-size: 1.125rem;
  line-height: 1.4;
  nav {
    align-items: center;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 1rem;
    @media (min-width: 640px) {
      height: 6rem;
      padding: 0 1.5rem;
    }
    .logoholder {
      flex-shrink: 0;
      .logo {
        align-items: center;
        display: flex;
        img {
          display: block;
          height: 2.5rem;
        }
        .sitename {
          display: none;
          margin: 0 0.5rem;
          @media (min-width: 768px) {
            display: block;
          }
          h1 {
            margin: 0;
            @media (min-width: 768px) {
              font-size: 1.5rem;
            }
          }
          h2 {
            margin: 0;
            @media (min-width: 768px) {
              font-size: 0.75rem;
              font-weight: 600;
              letter-spacing: 0.1em;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    a {
      align-items: center;
      display: flex;
      text-decoration: none;
      .phone-icon {
        display: none;
        @media (min-width: 768px) {
          display: block;
          img {
            height: 2.5rem;
            width: 2.5rem;
          }
        }
      }
      .phone-number-holder {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin: 0 0.5rem;

        .text-phone-number {
          font-size: 0.75rem;
          font-weight: 600;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .toll-free-number-holder {
          align-items: center;
          display: flex;
          position: relative;
          .available-blinker {
            border-radius: 624.938rem;
            display: block;
            height: 0.5rem;
            margin-right: 0.625rem;
            width: 0.5rem;

            @media (min-width: 768px) {
              display: none;
            }
          }

          .toll-free-number {
            align-items: center;
            display: flex;
            font-size: 1.25rem;
            white-space: nowrap;

            .font-bold {
              font-weight: 700;
              letter-spacing: -0.05em;
            }

            .font-semibold {
              font-weight: 600;
              margin: 0 0.25em;
            }
          }
        }
      }
    }
  }
}