img {
  width: 100%;
}

p {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #274066;
}

.heading {
  color: #274066;
  margin-top: 4rem;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}
.span-1 {
  background-color: #d01b34;
  color: #fff;
  padding: 0 1rem;
}
.span-2 {
  font-weight: bolder;
}
.child-para-span-3 {
  background-color: #ffe300;
  margin-bottom: 20px;
  padding: 20px;
}
.span-3 {
  color: #d01b34;
  font-weight: bolder;
}
.span-4 {
  color: #007aff;
  font-weight: bolder;
}

.btn-blue-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-blue-child {
  list-style-type: none;
  font-size: medium;
  background: #274066;
  border-radius: 2px;
  color: #fff !important;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  width: 30%;
  text-align: center;
  padding: 10px 0 10px 0;
}

.btn-red-child {
  background: #d01b34;
  border-radius: 2px;
  text-align: center;
  color: #fff !important;
  font-size: medium;
  padding: 10px 0 10px 0;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
